:root {
    --color-cyan: hsl(199, 100%, 43%);
    --color-strong-green: hsl(96, 71%, 43%);
    --color-background: hsl(30, 30%, 96%);
    --task-border-width: .1rem;
    --color-red: hsl(326, 80%, 80%);
    --color-orange: hsl(22, 100%, 80%);
    --color-yellow: hsl(55, 95%, 75%);
    --color-green: hsl(86, 71%, 80%);
    --color-blue: hsl(194, 100%, 80%);
    --color-indigo: hsl(225, 100%, 80%);
    --color-purple: hsl(280, 54%, 80%);
    --color-white: hsl(60, 3%, 88%);
    --color-black: hsl(0, 0%, 45%);
    --color-text: hsl(0, 0%, 17%);
    --color-link: hsl(194, 100%, 43%);
    --color-line: hsl(220, 1%, 66%);
    --color-shadow: rgba(0, 0, 0, .3);
    --color-border: rgba(0, 0, 0, .08);
    --color-focus: hsla(55, 100%, 46%, 0.6);
    --color-mask: rgba(255, 255, 255, .7);
    --color-comment: rgba(150, 150, 155, .5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: hsl(0, 0%, 17%);
        --color-red: hsl(326, 80%, 30%);
        --color-orange: hsl(22, 100%, 30%);
        --color-yellow: hsl(55, 100%, 30%);
        --color-green: hsl(86, 71%, 30%);
        --color-blue: hsl(194, 100%, 30%);
        --color-indigo: hsl(225, 100%, 30%);
        --color-purple: hsl(280, 54%, 30%);
        --color-white: hsl(220, 1%, 72%);
        --color-black: hsl(0, 0%, 34%);
        --color-text: hsl(60, 3%, 84%);
        --color-shadow: rgba(0, 0, 0, .4);
        --color-comment: rgba(100, 100, 110, .5);
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: "Meiryo UI", sans-serif;
    box-sizing: border-box;
}

html {
    font-size: calc((1.4vw + 1.2vh) / 2);
    width: 100vw;
    height: 200vh;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: var(--color-text);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-color: var(--color-background);
    transition: all .5s ease;
}

#container-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    scroll-snap-type: y mandatory;
    border-bottom: 1px solid var(--color-cyan);
}

.pane {
    width: calc(100% / 3);
    height: 100%;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: transparent;
    user-select: none;
}

.pane+.pane {
    border-left: 1px var(--color-cyan) solid;
}

.pane:nth-child(odd) {
    color: var(--color-cyan);
}

.pane:nth-child(even) {
    color: var(--color-strong-green);
}

#container-stock {
    width: 100%;
    height: 100vh;
    border-left: none;
    scroll-snap-type: y mandatory;
}

.selection-area {
    background: rgba(46, 115, 252, 0.1);
    border: 1px dotted rgba(98, 155, 255, 0.8);
    border-radius: 3px;
}

.task {
    position: absolute;
    min-height: 3.5em;
    width: 26em;
    padding: .1em .3em;
    box-shadow: 0 .2em .4em -0.3em var(--color-shadow);
    border: var(--task-border-width) solid var(--color-border);
    border-radius: .2em;
    word-wrap: break-word;
    font-size: 1rem;
    transition: 
        top 400ms ease,
        left 400ms ease,
        background-color 150ms ease,
        color 150ms ease,
        box-shadow 100ms ease;
    background-clip: padding-box;
    user-select: none;
    color: var(--color-text);
}

.task.focused {
    box-shadow: 0 .1em .8em -0.2em var(--color-shadow),
        0 0 0 .14em var(--color-focus);
}

.task.moving {
    transition-property: none;
}

.task a:link,
.task a:visited,
.task a:active {
    color: var(--color-cyan);
}

.task hr {
    width: 100%;
    border-top: .1em var(--color-line) dashed;
    border-bottom: none;
    margin: .2em 0;
}

.task ul,
.task ol {
    list-style-position: inside;
}

.task ul {
    list-style-type: disc;
}

.task ul ul {
    list-style-type: circle;
    margin-left: 1em;
}

.task ol {
    list-style-type: decimal;
}

.task ol ol {
    list-style-type: lower-roman;
    margin-left: 1em;
}

.task h1 {
    font-size: 1.2em;
}

.task h2,
.task h3 {
    font-size: 1em;
}

.task pre,
.task code {
    font-family: Consolas, 'MS Gothic', monospace;
    font-size: 0.9em;
}

.task table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: .2em 0;
}

.task table th,
.task table td {
    border: .1em solid var(--color-line);
    padding: .2em;
}

.task img {
    display: inline-block;
    max-width: 100%;
}

.display-text>comment {
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 80%;
    background-color: var(--color-comment);
    border-radius: 0 0 .5em 0;
    padding: .4em;
    width: 90%;
    box-shadow: 0 .3rem .5rem -.2rem var(--color-shadow);
    display: block;
    backdrop-filter: blur(5px);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in-out opacity .1s;
}

.task:hover comment {
    visibility: visible;
    opacity: 1;
}

textarea {
    width: 100%;
    resize: vertical;
    font-size: 0.85em;
    display: none;
    outline: none;
    background-color: var(--color-mask);
    border: none;
    border-radius: .2em;
    padding: 0 .2em;
}

textarea::placeholder {
    color: #aaa;
    font-size: .8rem;
}

textarea:focus {
    outline: none;
}

.task.editing>textarea {
    display: block;
}

.task.editing>div {
    display: none;
}

#system-menu {
    top: 1.4rem;
    right: 0;
}

.menu {
    position: absolute;
    color: var(--color-text);
    background-color: var(--color-white);
    width: 8em;
    visibility: hidden;
    box-shadow: .1em .1em .2em -.1em rgba(0, 0, 0, 0.2);
    user-select: none;
}

.menu.show {
    visibility: visible;
}

.menu-item {
    position: relative;
    font-size: .8em;
    height: 1.6em;
    list-style: none;
    padding: .1em .2em;
    cursor: pointer;
    transition: padding 80ms ease;
    overflow: hidden;
}

.menu-item>img {
    display: inline-block;
    height: 1.5em;
    vertical-align: bottom;
    margin-right: .1em;
}

.menu-item:hover {
    padding-left: .5em;
}

.key-bind {
    margin-left: .3em;
    position: relative;
    text-decoration: underline;
    font-size: 80%;
}

.key-bind::before {
    content: '(';
}

.key-bind::after {
    content: ')';
}

.red {
    background-color: var(--color-red);
}

.orange {
    background-color: var(--color-orange);
}

.yellow {
    background-color: var(--color-yellow);
}

.green {
    background-color: var(--color-green);
}

.blue {
    background-color: var(--color-blue);
}

.indigo {
    background-color: var(--color-indigo);
}

.purple {
    background-color: var(--color-purple);
}

.white {
    background-color: var(--color-white);
}

.black {
    background-color: var(--color-black);
    color: white;
}

@media (prefers-color-scheme: dark) {
    .white {
        color: hsl(0, 0%, 17%);
    }
}

#scroll {
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    transition: transform .1s ease;
    user-select: none;
    width: 1.5em;
}

#scroll.on {
    transform: rotate3d(1, 0, 0, 180deg);
}

#scroll>img {
    display: block;
    max-width: 100%;
}

@media (prefers-color-scheme: dark) {
    #scroll>img,
    #system-menu-icon>img {
        filter: invert(100%);
    }
}

#system-menu-icon {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1.6em;
    top: .2em;
    right: 0;
    cursor: pointer;
}

#system-menu-icon>img {
    display: block;
    max-width: 1.2em;
    min-width: 1.2em;
}
